<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>
	<header>
		
	</header>
	<nav>		
	</nav>
	<aside>
		
	</aside>
	<section>
		<article>
			<img src="{% static 'img/python.jpg' %}">
		</article>
		<article >
			<img src="{% static 'img/c.jpg' %}">
		</article>
		<article>
			<img src="{% static 'img/php.jpg' %}">	
		</article>
		
	</section>
	
	<footer>
		&copy; Jorge Reyes González
	</footer>
</body>
</html>